/vendor/
/node_modules/
/public/storage
/storage/*.key
/storage/framework/cache/
/storage/framework/sessions/
/storage/framework/views/
/.env
/.env.backup
/.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.DS_Store
Thumbs.db
/composer.phar
/.php-cs-fixer.cache